body
{
    background-color: #010101;
}

a{color: #f18f30;}
a:hover{color: #f18f30;}

input{border: 0 none;}
input:focus{outline: 0;}

form{margin-top: 16px;}

.navbar-custom
{
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-custom a{color: white !important;}
.navbar-custom a:hover{color: #f18f30 !important;}
.navbar-custom .active{color: #f18f30 !important;}

.navbar-custom button{color: white !important;}
.navbar-custom button:hover{border-color: #f18f30 !important;}
.navbar-custom button:focus{border-color: #f18f30; outline: none !important;}

.header
{
    position: relative;
    background-color: black;
    height: 80vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.header img
{
    width: 100%;
    max-width: 560px;
}

.header video
{
    position: absolute;
    top: 50%;
    left: 50%;
    
    min-width: 100%;
    min-height: 100%;
    
    width: auto;
    height: auto;
    
    z-index: 0;

    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.header .container
{
    position: relative;
    z-index: 2;
}

.header .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.section
{
    padding-top: 76px;
    margin-top: -26px;
}

.screenshot
{
    border: 4px solid #111;

    cursor: pointer;
}

.contact-button
{
    position: relative;
    display: inline-block;

    background: none;

    margin-top: 16px;

    width: 100%;
    max-width: 250px;
    height: 64px;

    line-height: 58px;

    border: 1px solid white;

    color: white;

    cursor: pointer;
}

.contact-button:hover{border-color: #f18f30; color: #f18f30; text-decoration: none;}
.contact-button:focus{outline: none;}

.lightbox
{
    display: none;

    position: fixed;

    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.9);

    z-index: 1000;
}

.lightbox img
{
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #111;
}